USE [Quran]
GO
/****** Object:  Table [dbo].[TopicAyahsMaps]    Script Date: 10/16/2012 00:39:33 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TopicAyahsMaps]') AND type in (N'U'))
DROP TABLE [dbo].[TopicAyahsMaps]
GO
/****** Object:  Table [dbo].[TopicAyahsMaps]    Script Date: 10/16/2012 00:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TopicAyahsMaps]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TopicAyahsMaps](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](255) NOT NULL,
	[Ayahs] [ntext] NOT NULL,
 CONSTRAINT [PK_TopicAyahsMaps1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
)
END
GO
SET IDENTITY_INSERT [dbo].[TopicAyahsMaps] ON
INSERT [dbo].[TopicAyahsMaps] ([ID], [Topic], [Ayahs]) VALUES (1, N'Aaron', N'"4:163","6:84","7:122","7:142","7:150","7:172","10:75","19:53","20:30","20:40","20:90","20:92","21:48","23:45","25:35","26:12","26:48","28:34","37:114","37:115","37:116","37:117","37:118","37:119","37:120"')
INSERT [dbo].[TopicAyahsMaps] ([ID], [Topic], [Ayahs]) VALUES (2, N'House of', N'"2:248"')
INSERT [dbo].[TopicAyahsMaps] ([ID], [Topic], [Ayahs]) VALUES (3, N'Ablution', N'"4:43","5:6"')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
SET IDENTITY_INSERT [dbo].[TopicAyahsMaps] OFF
