<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFCodeFirst" version="1.1" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net40" />
  <package id="MiniProfiler.EF" version="2.1.0" targetFramework="net40" />
</packages>