* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #d8d8d8;*/
    font-family: Georgia;
    /*display: none;*/
}

.clear {
    clear: both; /*display: block*/
}

.secondnavigation {
    margin-top: 30px;
    margin-bottom: 10px;
}

#header {
    /*position:fixed; 
  top:0; 
  left:0; 
  z-index:100; */
    width: 100%;
    background: #FAFAFA;
    height: 80px;
    border: 1px solid #F0F0F0;
}

    #header.minimizable {
        height: 40px;
        line-height:40px;
    }

#headline {
}

#WordByWordContainer {
    clear: both;
} 

#container {
    background-repeat: no-repeat;
    width: auto;
    margin: auto;
    min-height: 430px;
}


#headline h1 {
    margin-left: 20px;
    
    text-align: left;
    font-size: 20pt;
    line-height: 45px;
    font-family: serif;
    color: #111;
    /*text-shadow: 0px 2px 3px #555;*/
}

h2 {
    font-family: Georgia;
    text-align: left;
    font-size: 1.5em;
    line-height: 2em;
    color: #111;
    text-shadow: 0px 2px 3px #555;
}

h4 {
    font-family: Georgia;
    color: #111;
    text-shadow: 0px 2px 3px #555;
}


#main {
    /*width: 800px;*/
    /*margin-top: 100px;*/
    padding-bottom: 10px;
}

section {
    padding-bottom: 20px;
    overflow: auto;
    padding-left: 5px;
}

p {
    margin-bottom: 10px;
}


footer {
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    margin-top: 15px;
}

    footer ul {
        border-top: solid 1px #989898;
        padding-top: 5px;
        padding-bottom: 20px;
    }


    footer a {
        color: #222;
        text-decoration: none;
    }

        footer a:hover {
            color: #888;
        }

    footer li {
        display: inline;
        list-style-type: none;
        padding-right: 25px;
    }

#translations {
    padding-top: 20px;
    padding-left: 10px;
    clear: both;
}

#AyahLabel {
    left: 10px;
    font-size: 20pt;
    padding: 5px;
    background-color: #FEF2DA;
    color: #D6B169;
    -webkit-border-radius: 10px;
    float: left; 
    margin-right: 10px;
}

.translator {
    font: italic 16px/18px georgia;
    color: #6798BF;
    display: block;
    font-size: 10pt;
    line-height: 18px;
    margin-left: 10px;
}

.content {
    font-size: 14pt;
    font-family: Georgia;
    text-align: left;
    line-height: 24px;
    margin-left: 10px;
}

.dropdowns {
    float: left;
}

.navigation {
    margin-left: 20px;
    float: left;
    color: grey;
}

.type {
    color: green;
}

.button {
    font-size: 14pt;
    padding: 10px;
}

#pnlMyTranslationEdit {
    float: right;
    border: 2px solid lightgrey;
    padding: 10px;
    z-index: 10000;
}

.my_translation {
    padding: 10px;
    border: 1px solid lightgrey;
}

.my_translation_heading {
    font-size: 14pt;
}

.my_translation_text {
    font-size: 16pt;
}

.my_translation_footnote {
    font-size: 12pt;
    margin-left: 20px;
}

#pnlMyTranslationEdit textarea, #pnlMyTranslationEdit input[type=text] {
    width: 95%;
}

#pnlOriginal > p {
    font-size: 36pt;
    line-height: 40px;
    font-family: 'Arabic Typesetting';
    font-smooth: always;
    margin-top: 20px;
}

.wordbyword_tip {
    color: grey;
    text-align: center;
    font-size: 8pt;
    margin-top: 5px;
}

.editor {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 39%;
    height: 100%;
    overflow: auto;
}

#container.editorOn {
    margin-right: 40%;
}

.segGray {
    color: rgb(87, 87, 87);
}

.segSky {
    color: rgb(84, 141, 212);
}

.segBlue {
    color: rgb(37, 126, 156);
}

.segPurple {
    color: rgb(129, 38, 192);
}

.segBrown {
    color: rgb(191, 159, 62);
}

.segMetal {
    color: rgb(92, 112, 133);
}

.segGold {
    color: rgb(129, 116, 24);
}

.segSeagreen {
    color: rgb(50, 189, 47);
}

.segGreen {
    color: rgb(29, 105, 20);
}

.segRed {
    color: rgb(244, 64, 11);
}

.segRust {
    color: rgb(173, 35, 35);
}

.segPink {
    color: rgb(168, 1, 123);
}

.segRose {
    color: rgb(253, 81, 98);
}

.segNavy {
    color: rgb(19, 1, 184);
}

.segOrange {
    color: rgb(227, 112, 16);
}

.segSilver {
    color: rgb(180, 180, 180);
}

#search_box {
    float: right;
}

#relevant_topics {
    float: right;
    width: 200px;
    margin-left: 50px;
    background-color: #fafafa;
    padding: 5px;
}

    #relevant_topics a {
        text-decoration: none;
        border-bottom: 1px dotted navy;
        color: navy;
    }

#source_corpus {
    font-size: 80%;
    color: lightgrey;
    float: right;
    clear: left;
}

    #source_corpus a {
        color: lightgrey;
        text-decoration: none;
        border-bottom: 1px dotted lightgrey;
    }


.source {
    font-size: small;
    
}