<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">      
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--<httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
      <add name="CustomHeaderModule" type="QuranWeb.App_Code.RemoveASPNETStuff"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>    
  </system.webServer>
  <connectionStrings>
    <add name="QuranContext" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Quran;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <!--<add name="QuranContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=Quran;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="QuranContext" connectionString="Data Source=tcp:frz83rqmzu.database.windows.net,1433;Initial Catalog=Quran;User ID=Corpus@frz83rqmzu;Password=Quran1981" providerName="System.Data.SqlClient"/>-->        
  </connectionStrings>
  <rewriter>
    <rewrite url="~(\d+/)*(.*).js" to="~/$2.js"/>
    <rewrite url="~(\d+/)*(.*).css" to="~/$2.css"/>
    <!--<rewrite url="~/(\d+)/*" to="~/Default.aspx?surah=$1&amp;ayah=1" />-->
    <rewrite url="~/(\d+)/(\d+)/(\d+)/*\?*(.*)" to="~/WordDetails.aspx?surah=$1&amp;ayah=$2&amp;word=$3&amp;$4"/>
    <rewrite url="~/(\d+)/(\d+)/*\?*(.*)" to="~/Default.aspx?surah=$1&amp;ayah=$2&amp;$3"/>
    <rewrite url="~/(\d+)/*\?*(.*)" to="~/Default.aspx?surah=$1&amp;ayah=1"/>
  </rewriter>
</configuration>